<div class="contact-section">
    <div class="contact-info">
      <p>Si tienes alguna duda, llena el formulario o contáctanos por nuestras redes sociales</p>
      <a target="_blank" href="https://wa.me/573016196402?text=Hola,%20tengo%20algunas%20dudas%20sobre%20sus%20servicios%20legales%20y%20me%20gustar%C3%ADa%20recibir%20m%C3%A1s%20informaci%C3%B3n.%20%C2%BFPodr%C3%ADan%20ayudarme%3F">
        <img src="/whatsapp.svg" alt="phone">
        <p>301 619 6402 - 322 238 2902</p>
      </a>
      <a href="https://www.instagram.com/globallegal24" target="_blank">
        <img src="/instagram.svg" alt="instagram">
        <p>@globallegal24</p>
      </a>
      <a href="https://www.google.com/maps/place/Global+Legal+24/@5.069543,-75.199999,15z/data=!4m2!3m1!1s0x8e476f8c7c79869f:0x42a29bb6c46e44e4">
        <img src="/maps.svg" alt="location">
        <p>Carrera 3 # 8-39 Edificio  Escorial, oficina x5 Barrio La Pola, Ibagué-Tolima</p>
      </a>
      <a href="mailto:global.legalabogados24@gmail.com">
        <img src="/email.svg" alt="email">
        <p>global.legalabogados24@gmail.com - lx_2694@hotmail.com</p>
      </a>
    </div>
  
    <div class="contact-form">
      <h3 style="margin-bottom: 0px;">Comunícate con nosotros</h3>
      <p style="margin-top: 0px; margin-bottom: 30px;">Escríbenos y solucionaremos tus dudas</p>
      <form >
        <div class="contact-input-group">
          <input name='name' type="text" placeholder="Nombre">
          <input name='email' type="email" placeholder="Email">
        </div>
        <textarea name='message' class="input-text-area" placeholder="¿Cómo podemos ayudarte?"></textarea>
        <button class="contact-button" type="submit">Enviar</button>
      </form>
    </div>
  </div>

  <script>
    const form = document.querySelector('form');
    if(form){
      
      // action="https://formsubmit.co/1b18a0bce37613ec213b26aa9e3bd386"
    form.addEventListener('submit', (e) => {
      form.action = "https://formsubmit.co/1b18a0bce37613ec213b26aa9e3bd386";
      form.method = "POST";
      form.submit();
      
      e.preventDefault();
    });
    }
  </script>
<style>

  .contact-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
  }

  .contact-info {
    flex: 1;
    max-width: 40%;
  }

  .contact-info h2 {
    font-size: 2rem;
    font-weight: normal;
    border-bottom: 3px solid #f4b63d;
    display: inline-block;
    padding-bottom: 5px;
  }

  .contact-info p {
    font-size: 20px;
    color: #333;
    margin: 10px 0;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:80%;
    background-color: #f4b63d;
    padding: 20px;
    border-radius: 10px;
  }

  .contact-form h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .contact-form p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 15px;
  }

   .contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .contact-input-group {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }


  .input-group input
  {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
  }

  .contact-info>a{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
  }

  .contact-info>a>img{
    width: 30px;
    height: 30px;
  }

  input{
    border:none;
    border-radius: 5px;
    padding: 10px;
    font-family: Lora, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

  }

  textarea {
    height: 100px;
    width: 100%;
    padding: 2px;
    border:none;
    resize: none;
    padding: 5px;
    border-radius: 5px;
    font-family: Lora, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  }

  textarea:focus{
    outline: none;
  }

  .contact-button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }

  .contact-button:hover {
    background-color: #333;
  }

  @media (max-width: 480px){
    .contact-section{
      flex-direction: column;
      padding: 0px 10px;
    }

    .contact-info{
      max-width: 100%;
    }

    .contact-info>p{
      font-size: 16px;
      margin-top: 0px;
    }

    .contact-info > a> p{
      font-size: 14px;
      width: 90%;
      cursor: pointer;
    }

    .contact-info > a> img{
      width: 20px;
      height: 20px;
    }

    .contact-form{
      max-width: 100%;
      padding: 0px 20px;
      padding-bottom: 20px;
      margin-top: 20px;
    }

    .contact-form > h3{
      font-size: 20px;
    }

    .contact-form > p{
      font-size: 16px;
    }

    .contact-form > form{
      width: 100%;
    }

    .contact-form > form > .contact-input-group{
      flex-direction: column;
    }    

    .input-text-area{
      height: 80px;
      width: 280px;
    }
    
  }
</style>