<div class="contact-section">
    <div class="contact-info">
      <p>Si tienes alguna duda, llena el formulario o contáctanos por nuestras redes sociales</p>
      <p>📞 320 454 1872</p>
      <p>📷 @globallegal24</p>
      <p>📍 Oficina de la empresa</p>
    </div>
  
    <div class="contact-form">
      <h3>Comunícate con nosotros</h3>
      <p>Escríbenos y solucionaremos tus dudas</p>
      <form>
        <div class="contact-input-group">
          <input type="text" placeholder="Nombre">
          <input type="email" placeholder="Email">
        </div>
        <div>
        <textarea class="input-text-area" placeholder="¿Cómo podemos ayudarte?"></textarea>
        </div>
        <button class="contact-button" type="submit">Enviar</button>
      </form>
    </div>
  </div>
  

<style>

  .contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .contact-info {
    flex: 1;
    max-width: 40%;
  }

  .contact-info h2 {
    font-size: 2rem;
    font-weight: normal;
    border-bottom: 3px solid #f4b63d;
    display: inline-block;
    padding-bottom: 5px;
  }

  .contact-info p {
    font-size: 1rem;
    color: #333;
    margin: 10px 0;
  }

  .contact-form {
    flex: 1;
    max-width: 50%;
    background-color: #f4b63d;
    padding: 20px;
    border-radius: 10px;
  }

  .contact-form h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .contact-form p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 15px;
  }

  .contact-input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }


  .input-group input,
  {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }

  textarea {
    height: 100px;
    width: 100%;
    padding: 2px;
  }

  .contact-button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }

  .contact-button:hover {
    background-color: #333;
  }
</style>