---
import SectionTitle from '../../src/components/SectionTitle.astro';
import ServiceCard from '../../src/components/ServiceCard.astro';
import TeamMemberCard from '../../src/components/TeamMemberCard.astro';
import Footer from '../../src/components/Footer.astro';
---

<div id="container">
	<main>
		<header class="header">
			<div class="hero-logo">
				<img width="200" height="40" src="/logo.svg" alt="global legal logo">
			  </div>
			<ul>
				<li><a href="#service-offering">Nuestros servicios</a></li>
				<li><a href="#team">Conoce a nuestro equipo</a></li>
				<li><a href="#contact">Contáctanos</a></li>
			</ul>
		</header>

		<section class="hero">
			<div class="hero-text">
			  <h1><br><span>Tu tranquilidad es nuestra prioridad.</span> <br> Protección legal con compromiso y experiencia</h1>
			  <p>
				En Global Legal, trabajamos con compromiso y experiencia para brindarte 
				soluciones legales efectivas, adaptadas a tus necesidades.
			  </p>
				<a style="text-decoration: none; color: black;" target="_blank" href=" https://wa.me/573204541872?text=Hola,%20me%20gustar%C3%ADa%20agendar%20una%20asesor%C3%ADa%20legal.%20%C2%BFPodr%C3%ADan%20brindarme%20informaci%C3%B3n%20sobre%20disponibilidad%20y%20costos%3F">
			  <button class="schedule-button"> AGENDA UNA ASESORÍA</button>
								</a>
			</div>
			<div class="hero-image">
			  <img src="/hero-image.png" alt="Personas firmando documentos legales">
			</div>
	    </section>

			<SectionTitle title="Nuestros servicios"/> 
	 	<section id="service-offering"> 
			<ServiceCard title="Derecho Corporativo y Empresarial" description="Protegemos los intereses de tu empresa con asesoría en contratos, cumplimiento normativo, propiedad intelectual y más."/>

			<ServiceCard title="Derecho penal" description="Brindamos orientación experta en diversas áreas del derecho para ayudarte a tomar decisiones informadas y estratégicas."/>

			<ServiceCard title="Derecho administrativo" description="Ofrecemos asesoría especializada en derecho administrativo para garantizar decisiones estratégicas y conformes a la normativa vigente."/>

			<ServiceCard title="Derecho Civil y Contratos" description="Redacción, revisión y negociación de contratos, así como representación en disputas civiles y resolución de conflictos." />

			<ServiceCard title="Derecho Laboral y Seguridad Social" description="Asesoría para empleadores y trabajadores en contratos, despidos, indemnizaciones y cumplimiento de normativas laborales."/>

		</section> 

		<SectionTitle title="Conoce a nuestro equipo"/>
		<section id="team">
			<TeamMemberCard description="Abogada especialista en derecho procesal civil, con amplia experiencia en procesos civiles, de familia, procesos policivos y acciones constitucionales. Su compromiso y conocimiento la convierten en una aliada clave para la defensa de tus derechos." name="Angie Paola Méndez Tocora"  img={"/angie.png"}/>
			<TeamMemberCard name="Tatiana Barreto Méndez" description="Abogada Especialista en derecho público, con experiencia en demandas ejecutivas, ayudándote a recuperar tu dinero de manera efectiva. Además, cuenta con amplia trayectoria en procesos constitucionales y un sólido enfoque en derecho de tránsito y transporte. Su conocimiento y compromiso la convierten en una excelente aliada para la defensa de tus derechos." img={"/tatiana.png"}/>
			<TeamMemberCard name="Daniel Montealegre" description="Abogado especialista en Derecho Público de la Universidad Externado de Colombia, con una destacada trayectoria como asesor jurídico de entidades a nivel nacional y municipal. Su experiencia abarca litigios contra el Estado, procesos policivos, derecho urbanístico, disciplinario, contractual y civil. Su amplio conocimiento en estas áreas lo convierte en un defensor estratégico y comprometido con la justicia." img={"/daniel.png"}/>
			<TeamMemberCard name="Laura Xiomara Rojas" description="Abogada con más de seis años de experiencia en trámites y procesos derivados de accidentes de tránsito, así como en reclamaciones ante compañías de seguros. Su amplio conocimiento en derecho de seguros, junto con su trayectoria en procedimientos de derecho laboral y seguridad social, la convierten en una aliada clave para la defensa de tus derechos." img={"/laura.png"}/>
		</section>

		<section id="contact">
			<SectionTitle title="Contáctanos"/>
			<Footer/>
		</section> 
	</main>

	
</div>

<style>

	#container {
		font-family: Lora, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	}

	.header{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
		background-color: white;
		padding: 16px;
	}


	main {
		height: 100%;
		display:flex;
		flex-direction:column;
		padding: 32px 0px;
	}


	header{
		display:flex;
		justify-content: space-between;
		align-items: center;
	}

	#contact{
		padding: 0px 50px;
	}

	header ul {
		display: flex;
		gap: 20px;
		list-style-type: none;
		align-items: center;
	}

	header ul a {
		text-decoration: none;
		color: #1e3d37;

		
	}

	.hero {
		display:flex;
		justify-content:center;
		gap:20px;
		height: calc(100vh - 50px);
		list-style: none;
		color: black;
		background-image: url("/background-hero.png");
		background-size:auto;
		background-position: left;
		background-repeat: no-repeat;
		align-items: center;
	} 

	

	
	.hero-text{
		width: 40%;
	}

	.hero-text h1 {
		font-size: 2rem;
		font-weight: normal;
		color: #1e3d37;
		text-decoration: none;
	} 

	.hero-text h1 span {
		font-weight: bold;
	}

	.hero-text span {
		text-decoration: underline;
		text-decoration-color: #FFB300;
		text-decoration-thickness: 2px;
		text-underline-offset: 3px;
	} 

	.hero-text p {
		font-size: 20px;
		color: #000000;
		font-weight: 400;
		margin-top: 15px;
	}

	.schedule-button {
		background-color: #f4b63d;
		color: black;
		font-size: 1rem;
		font-weight: bold;
		padding: 12px 20px;
		border: none;
		border-radius: 5px;
		margin-top: 20px;
		cursor: pointer;
	}

	.schedule-button:hover {
		background-color: #e6a832;
	}

	.hero-image {
		width: 594px;
		height: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
	}


	.hero-image img {
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}

	#service-offering {
	  display: flex;
	  width: 95%;
		scroll-margin-top: 190px;
	  justify-content: center;
	  flex-wrap: wrap;
	  gap: 20px
	}

	#team {
		display:flex;
		flex-direction:column;
		align-items:center;
		gap: 32px;
		padding: 32px;
		scroll-margin-top: 190px;
	}


	@media (max-width: 480px){
		.hero {
			flex-direction: column;
			margin-top: 10px;
			width: 100%;
			background-position: center;
			background-size: contain;
		}

		.hero-text{
			width: 100%;
			text-align: center;
		}

		.hero-text>a>button{
			font-size: 14px;
		}

		.hero-text > p{
			font-size: 14px;
			width: 70%;
			margin: 30px auto;

		}

		.hero-text > h1{

			font-size: 25px;
			width: 70%;
			margin: 0 auto;
			text-align: center;
		}

		.hero-text > h1 > span{
			font-size: 30px;
		}

		.hero-image{
			display: none;
		}

		.header > ul{
			display: none;
		}

		.hero-logo{
			width: 150px;
		}

		.hero-logo img {
			width: 100%;
		}

		#service-offering{
			width: 100%;
			margin-bottom: 50px;
		}

		#team{
			width: 100%;
			padding: 0px;
			display: flex;
			gap: 30px;
			margin-top: 10px;
			flex-direction: column;
			align-items: center;
		}

		#contact{
			margin-top: 20px;
			padding: 0px 10px;
		}
	}



</style>
