---
import SectionTitle from '../../src/components/SectionTitle.astro';
import ServiceCard from './ServiceCard.js';
import TeamMemberCard from '../../src/components/TeamMemberCard.astro';
import Footer from '../../src/components/Footer.astro';
import Header from './Header.tsx';
---

<div id="container">
	<main>
	<Header client:only="react"/>

		<section class="hero">
			<div class="hero-text">
			  <h1><br><span>Tu tranquilidad es nuestra prioridad.</span> <br> Protección legal con compromiso y experiencia</h1>
			  <p>
				En Global Legal, trabajamos con compromiso y experiencia para brindarte 
				soluciones legales efectivas, adaptadas a tus necesidades.
			  </p>
				<a style="text-decoration: none; color: black;" target="_blank" href=" https://wa.me/573016196402?text=Hola,%20me%20gustar%C3%ADa%20agendar%20una%20asesor%C3%ADa%20legal.%20%C2%BFPodr%C3%ADan%20brindarme%20informaci%C3%B3n%20sobre%20disponibilidad%20y%20costos%3F">
			  <button class="schedule-button"> AGENDA UNA ASESORÍA</button>
								</a>
			</div>
			<div class="hero-image">
			  <img src="/hero-image.png" alt="Personas firmando documentos legales">
			</div>
	    </section>

			<SectionTitle title="Nuestros servicios"/> 
	 	<section id="service-offering"> 

			<ServiceCard services={[
  {
    "title": "Constitución de Empresas",
    "description": "Asesoría para registrar y formalizar tu negocio según la normativa vigente."
  },
  {
    "title": "Contratos Comerciales",
    "description": "Redacción y revisión de contratos para proteger tus intereses comerciales."
  },
  {
    "title": "Fusiones y Adquisiciones",
    "description": "Asistencia legal en procesos de compra, venta o fusión de empresas."
  },
  {
    "title": "Propiedad Intelectual",
    "description": "Registro de marcas, patentes y derechos de autor para proteger tus creaciones."
  },
  {
    "title": "Cumplimiento Normativo",
    "description": "Evita sanciones manteniendo tu empresa al día con las regulaciones legales."
  },
  {
    "title": "Asesoría en Startups",
    "description": "Soluciones legales personalizadas para emprendedores."
  }
]} 
			client:only="react" 
			title="Derecho Corporativo y Empresarial" 
			description="Protegemos los intereses de tu empresa con asesoría en contratos, cumplimiento normativo, propiedad intelectual y más." icon={"/docs.svg"}/>

			<ServiceCard
			client:only="react" 
			services={[
  {
    title: "Delitos Menores y Graves",
    description: "Defensa ante acusaciones penales de cualquier nivel."
  },
  {
    title: "Asistencia en Detenciones",
    description: "Acompañamiento inmediato tras arrestos para proteger tus derechos."
  },
  {
    title: "Violencia Doméstica",
    description: "Defensa y representación en casos de violencia intrafamiliar."
  },
  {
    title: "Delitos Económicos y Financieros",
    description: "Asesoría en acusaciones de fraude, lavado de dinero y otros delitos financieros."
  },
  {
    title: "Apelaciones y Recursos",
    description: "Si la sentencia no fue favorable, luchamos por tu libertad a través de recursos legales."
  },
  {
    title: "Juicios Orales",
    description: "Defensa estratégica y eficaz en juicios penales."
  }
]}
			title="Derecho penal"
			description="Brindamos orientación experta en diversas áreas del derecho para ayudarte a tomar decisiones informadas y estratégicas."
			icon={"/legal-icon.svg"}/>

			<ServiceCard
			services={[
  {
    title: "Permisos de Uso de Suelo",
    description: "Te ayudamos a obtener o regularizar permisos para tus propiedades."
  },
  {
    title: "Multas y Sanciones Administrativas",
    description: "Defensa ante sanciones impuestas por autoridades locales o nacionales."
  },
  {
    title: "Licencias Comerciales",
    description: "Asesoría en la obtención de licencias para iniciar o expandir negocios."
  },
  {
    title: "Contratos con el Estado",
    description: "Asistencia en procesos de licitación y contratación pública."
  },
  {
    title: "Recursos Administrativos",
    description: "Impugnación de actos administrativos que afecten tus intereses."
  },
  {
    title: "Defensa en Procesos Administrativos Disciplinarios",
    description: "Asesoría y defensa ante procedimientos por faltas administrativas."
  },
  {
    title: "Multas de Tránsito",
    description: "Eliminar después de término de prescripción, impugnar ante las entidades."
  }
]}
			client:only="react"
			title="Derecho administrativo"
			description="Ofrecemos asesoría especializada en derecho administrativo para garantizar decisiones estratégicas y conformes a la normativa vigente."
			icon={"/docs.svg"}/>

			<ServiceCard
			services={[
  {
    title: "Divorcios y Separaciones",
    description: "Procesos legales claros y respetuosos para transiciones familiares."
  },
  {
    title: "Custodia y Régimen de Visitas",
    description: "Defendemos tus derechos y el bienestar de tus hijos."
  },
  {
    title: "Herencias y Testamentos",
    description: "Te ayudamos a proteger tu legado y a evitar conflictos familiares."
  },
  {
    title: "Arrendamientos y Desalojos",
    description: "Asistencia en contratos de alquiler, renovaciones y desalojos legales."
  },
  {
    title: "Responsabilidad Civil",
    description: "Reclamaciones por daños y perjuicios, accidentes y negligencias."
  },
  {
    title: "Contratos Civiles",
    description: "Redacción y revisión de acuerdos para proteger tus intereses."
  },
  {
    title: "Préstamos",
    description: "Estudio de bienes para préstamos, asesoría en la correcta redacción de letras de cambio y demandas por préstamos en mora."
  },
  {
    title: "Accidentes de Tránsito",
    description: "Reclamaciones ante aseguradoras y demandas por incumplimiento de pago."
  },
  {
    title: "Demandas por Mala Praxis",
    description: "Asesoría y representación legal en casos donde un servicio médico te haya perjudicado."
  },{
		title: "Derecho de Seguros",
		description: "Asesoría y representación en reclamaciones ante aseguradoras, trámites de pólizas de vida, responsabilidad civil y defensa en procesos disciplinarios y fiscales."
	}
]}
			client:only="react"
			title="Derecho Civil y Contratos"
			description="Redacción, revisión y negociación de contratos, así como representación en disputas civiles y resolución de conflictos."
			icon={"/briefcase.png"}/>

			<ServiceCard 
			services={
				[
  {
    title: "Despidos Injustificados",
    description: "Defendemos tus derechos si perdiste tu empleo sin justificación."
  },
  {
    title: "Reclamaciones Salariales",
    description: "Ayuda para obtener el pago de sueldos, horas extras o prestaciones adeudadas."
  },
  {
    title: "Acoso y Discriminación Laboral",
    description: "Representación en casos de trato injusto o discriminatorio."
  },
  {
    title: "Negociación de Contratos de Trabajo",
    description: "Revisión de contratos para asegurar condiciones laborales justas."
  },
  {
    title: "Accidentes Laborales",
    description: "Reclamaciones por accidentes y enfermedades relacionadas con el trabajo."
  },
  {
    title: "Visas de Trabajo y Migración Laboral",
    description: "Apoyo en trámites migratorios para trabajadores nacionales y extranjeros."
  }
]
			}
			client:only="react" title="Derecho Laboral y Seguridad Social" description="Asesoría para empleadores y trabajadores en contratos, despidos, indemnizaciones y cumplimiento de normativas laborales." icon={"/law-icon.svg"}/>

		</section> 

		<SectionTitle title="Conoce a nuestro equipo"/>
		<section id="team">
			<TeamMemberCard description="Abogada especialista en derecho procesal civil, con amplia experiencia en procesos civiles, de familia, procesos policivos y acciones constitucionales. Su compromiso y conocimiento la convierten en una aliada clave para la defensa de tus derechos." name="Angie Paola Méndez Tocora"  img={"/angie.png"}/>
			<TeamMemberCard name="Tatiana Barreto Méndez" description="Abogada Especialista en derecho público, con experiencia en demandas ejecutivas, ayudándote a recuperar tu dinero de manera efectiva. Además, cuenta con amplia trayectoria en procesos constitucionales y un sólido enfoque en derecho de tránsito y transporte. Su conocimiento y compromiso la convierten en una excelente aliada para la defensa de tus derechos." img={"/tatiana.png"}/>
			<TeamMemberCard name="Daniel Montealegre" description="Abogado especialista en Derecho Público de la Universidad Externado de Colombia, con una destacada trayectoria como asesor jurídico de entidades a nivel nacional y municipal. Su experiencia abarca litigios contra el Estado, procesos policivos, derecho urbanístico, disciplinario, contractual y civil. Su amplio conocimiento en estas áreas lo convierte en un defensor estratégico y comprometido con la justicia." img={"/daniel.png"}/>
			<TeamMemberCard name="Laura Xiomara Rojas" description="Abogada con más de seis años de experiencia en trámites y procesos derivados de accidentes de tránsito, así como en reclamaciones ante compañías de seguros. Su amplio conocimiento en derecho de seguros, junto con su trayectoria en procedimientos de derecho laboral y seguridad social, la convierten en una aliada clave para la defensa de tus derechos." img={"/laura.png"}/>
		</section>

		<section id="contact">
			<SectionTitle title="Contáctanos"/>
			<Footer/>
		</section> 
	</main>

	
</div>

<style>

	#container {
		font-family: Lora, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	}

	.header{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
		background-color: white;
		padding: 16px;
	}


	main {
		height: 100%;
		display:flex;
		flex-direction:column;
		padding: 32px 0px;
	}



	#contact{
		padding: 0px 50px;
	}

	.hero {
		display:flex;
		justify-content:center;
		gap:20px;
		height: calc(100vh - 50px);
		list-style: none;
		color: black;
		background-image: url("/background-hero.png");
		background-size:auto;
		background-position: left;
		background-repeat: no-repeat;
		align-items: center;
	} 

	

	
	.hero-text{
		width: 40%;
	}

	.hero-text h1 {
		font-size: 2rem;
		font-weight: normal;
		color: #1e3d37;
		text-decoration: none;
	} 

	.hero-text h1 span {
		font-weight: bold;
	}

	.hero-text span {
		text-decoration: underline;
		text-decoration-color: #FFB300;
		text-decoration-thickness: 2px;
		text-underline-offset: 3px;
	} 

	.hero-text p {
		font-size: 20px;
		color: #000000;
		font-weight: 400;
		margin-top: 15px;
	}

	.schedule-button {
		background-color: #f4b63d;
		color: black;
		font-size: 1rem;
		font-weight: bold;
		padding: 12px 20px;
		border: none;
		border-radius: 5px;
		margin-top: 20px;
		cursor: pointer;
		transition: scale 0.3s ease-in-out;
	}

	.schedule-button:hover {
		background-color: #e6a832;
		scale: 1.05;
		transition: scale 0.3s ease-in-out;
		transform-origin: center;
	}

	.hero-image {
		width: 594px;
		height: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
	}


	.hero-image img {
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}

	#service-offering {
	  display: flex;
	  width: 95%;
		scroll-margin-top: 190px;
	  justify-content: center;
	  flex-wrap: wrap;
	  gap: 20px;
		margin-bottom: 100px;
	}

	#team {
		display:flex;
		flex-direction:column;
		align-items:center;
		gap: 32px;
		padding: 32px;
		scroll-margin-top: 190px;
	}


	@media (max-width: 480px){
		.hero {
			flex-direction: column;
			margin-top: 10px;
			width: 100%;
			background-position: center;
			background-size: contain;
		}

		.hero-text{
			width: 100%;
			text-align: center;
		}

		.hero-text>a>button{
			font-size: 14px;
		}

		.hero-text > p{
			font-size: 14px;
			width: 70%;
			margin: 30px auto;

		}

		.hero-text > h1{

			font-size: 25px;
			width: 70%;
			margin: 0 auto;
			text-align: center;
		}

		.hero-text > h1 > span{
			font-size: 30px;
		}

		.hero-image{
			display: none;
		}

		.hero-logo{
			width:100% ;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.hero-logo img {
			width: 150px;
		}

		.hero-logo img:last-child{
			width: 20px;
			height: 20px;
		}

		#service-offering{
			width: 100%;
			margin-bottom: 50px;
		}

		#team{
			width: 100%;
			padding: 0px;
			display: flex;
			gap: 30px;
			margin-top: 10px;
			flex-direction: column;
			align-items: center;
		}

		#contact{
			margin-top: 20px;
			padding: 0px 10px;
		}
	}



</style>
