---
const {title} = Astro.props
---


<h3>
 {title}
</h3>


<style is:global>
  h3 {
    font-size: 2.5rem;
    padding: 0px 50px;
    font-weight: normal;
    text-decoration: none;
    text-underline-offset: 3px;
    width: fit-content;
  }

  @media (max-width: 1024px){
	h3{
		font-size: 1.5rem;
    padding: 0px 10px;
	}
  }
</style>