
---

const {title} = Astro.props

---


<h3>
 {title}
</h3>


<style is:global>
  h3 {
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: underline;
	text-decoration-color: #FFB300;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
    width: fit-content;
  }
</style>